@using UmbracoProjectTemplate.Library.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = null;
    // Add some attrs to datalayer
    //var attrs = Model.Content.GetPropertyValue<Dictionary<string, string>>("gtmDatalayerAttrs");
    //attrs.Add("pageId", Model.Content.Id.ToString());
}

<!doctype html>
<html>
<head>
    <title>@Html.PageTitle(Model.Content)</title>
    @Html.VersionedCssUrl("/public/css/main.css")
    @Html.RenderDatalayerScript(Model.Content, "gtmDatalayerAttrs")
    @*@Html.RenderDatalayerScript(attrs)*@
</head>
<body>

@RenderBody()
@* JS files *@
@Html.VersionedJsUrl("/public/js/main.js")

</body>
</html>