@using UmbracoProjectTemplate.Library.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>@Html.PageTitle(Model.Content)</title>
    @Html.VersionedCssUrl("/public/css/main.css")
    @Html.RenderDatalayerScript(Model.Content, "gtmDatalayerAttrs")
    @Html.RenderDatalayerScript(Model.Content, "gtmDatalayerAttrs")
</head>
<body>

@RenderBody()
@* JS files *@
@Html.VersionedJsUrl("/public/js/main.js")

</body>
</html>